# Supabase Configuration (Vite Test)
VITE_SUPABASE_URL=https://mommmhncpdqbwssluvbf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1vbW1taG5jcGRxYndzc2x1dmJmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgzNjk2OTYsImV4cCI6MjEwMzk0NTY5Nn0.q3lfHfoyL7BZChyxiLwzHtuf5uN6F_rkPukH9jARdQQ

# Supabase Configuration (Test Vite frontend)
VITE_SUPABASE_URL=https://pcqjztkilzjsbzgrxepn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjcWp6dGtpbHpqc2J6Z3J4ZXBuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAwOTU2OTIsImV4cCI6MjEwNTY3MTY5Mn0.liXEyF-GHcPoSdvC5nUCyh_iBPC8aL2VQXu6ch4ffJc
